<div id=<%= edit ? "edit-profile-form-#{@event.id if @event}" : "new-profile-form-#{@event.id if @event}" %> >
<%= simple_form_for @profile, index: (edit ? "update_#{@event.id if @event}" : "create_#{@event.id if @event}"), remote: true do |f| %>
  <div class="row">
    <%= f.input :first_name, wrapper_html: {class: 'col s12 m12 l6'}, label_html: ({class: 'active'} if admin) %>
    <%= f.input :family_name, wrapper_html: {class: 'col s12 m12 l6'}, label_html: ({class: 'active'} if admin) %>
  </div>
  <div class="row">
    <%= f.input :email, type: 'email', wrapper_html: {class: 'col s12 m12 l6'}, label_html: ({class: 'active'} if admin) %>
    <%= f.input :mobile, label: 'Mobile number', wrapper_html: {class: 'col s12 m12 l6'}, label_html: ({class: 'active'} if admin) %>
  </div>
  <div class="row">
    <%= f.input :date_of_birth, as: :string, wrapper_html: {class: 'col s12 m12 l6'}, input_html: {class: 'dateofbirthpicker'}, label_html: ({class: 'active'} if admin) %>
      <%= f.input :passport_number, label: 'ID or Passport number', wrapper_html: {class: 'col s12 m12 l6'}, label_html: ({class: 'active'} if admin) %>
  </div>
  <div class="row">
    <div class="col s12 m12 l6 margin-top-18-px">
      <%= f.collection_radio_buttons :gender, [['male', 'Male'] ,['female', 'Female']], :first, :last %>
    </div>
    <%= f.input :nationality, label: false, wrapper_html: {class: 'col s12 m12 l6'} do %>
      <%= f.country_select :nationality, prompt: 'Select nationality', priority_countries: ['MU'] %>
    <% end %>
  </div>
  <div class="row">
    <%= f.input :tshirt_size, label: false, prompt: 'Select t-shirt size', collection: ['XL', 'L', 'M', 'S', 'XS'], wrapper_html: {class: 'col s12 m12 l6'} %>
    <%= f.input :nationality, label: false, wrapper_html: {class: 'col s12 m12 l6'} do %>
      <%= f.country_select :country_of_residence, prompt: 'Select country of residence', priority_countries: ['MU'], include_blank: 'Rodrigues' %>
    <% end %>
  </div>
  <div class="row">
    <%= f.input :emergency_contact_name, wrapper_html: {class: 'col s12 m12 l6'}, label_html: ({class: 'active'} if admin) %>
    <%= f.input :emergency_contact_phone, wrapper_html: {class: 'col s12 m12 l6'}, label_html: ({class: 'active'} if admin) %>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <%= f.check_box :accepted_terms %>
      <%= f.label :accepted_terms, label: raw('I have read, understood and approved the <a class="modal-trigger" href="#terms-modal">terms and conditions</a>') %>
    </div>
    
    
  </div>
  <%= hidden_field_tag :event_id, @event.id if @event %>
    <%= f.button :submit, 'Save and Continue' %>
<% end %>

<!-- Modal Structure -->
<div id="terms-modal" class="modal">
  <div class="modal-content">
    <h4>Terms and Conditions</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
</div>
  