<div class="dashboard display-animation">
  <a class="tile tile-lg tile-pink ripple-effect" href="#">
    <span class="content-wrapper">
      <span class="tile-content">
        
        <span class="tile-img tile-img-bg primary-tile"></span>
        <span class="tile-holder tile-holder-sm">
          <span class="title">Trail of Rodrigues</span>
        </span>
      </span>      
    </span>
  </a>
  
  <a class="tile tile-lg tile-sqr tile-deep-orange ripple-effect" href="#">
    <span class="content-wrapper">
      <span class="tile-content">
        <h3 class="next-trail-name">
          The Trail of Rodrigues
        </h3>
        <p>
          12th November 2016
        </p>
        <p>
          You are a runner, perhaps a hiker or perhaps just someone who likes being out in Nature. Well, this site is for you. 
        </p>
      </span>      
    </span>
  </a>

  <div class="tile tile-lg tile-sqr tile-green ripple-effect" href="#">
    <span class="content-wrapper">
      <span class="tile-content">
        <h3 class="next-trail-name">
          Rod Trail Association
        </h3>
        <p>
          You are a runner, perhaps a hiker or perhaps just someone who likes being out in Nature. Well, this site is for you. 
        </p>
        <p>
          Rando-Trail & Nature was created for people like us, so feel at home and contact us if you feel the urge, we would be happy to assist or share or provide a comment. 
        </p>
      </span>      
    </span>
  </div>
  
  <div class="tile tile-lg tile-light-blue ripple-effect" href="#">
    <span class="content-wrapper">
      <span class="tile-content">
        <%= I18n.locale %>

        <%= t :hello %>

        <p>
        <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
        |
        <%= link_to_unless I18n.locale == :fr, "Francais", locale: :fr %>
        </p>
        <p>
          <%= link_to "Change lang", home_land_path %>
        </p>
      </span>      
    </span>
  </div>

  <%= link_to trail_path(@home.next_trail),  class: "tile tile-lg tile-cyan ripple-effect" do %>
    <span class="content-wrapper">
      <span class="tile-content">
        <h2>
      Next Trail
    </h2>
    <h3 class="next-trail-name">
      <%= @home.next_trail.name %>
    </h3>

    <% @home.next_trail_events.each do |event| %>
      <%= "#{event.distance}k" %>
    <% end %>
       
    </span>
  <% end %>

  <a class="tile tile-lg tile-sqr tile-amber ripple-effect" href="#">
    <span class="content-wrapper">
      <span class="tile-content">
        
        <span class="tile-img tile-img-bg pig-image"></span>
        <span class="tile-holder tile-holder-sm">
          <span class="title">Rodrigues</span>
        </span>
      </span>      
    </span>
  </a>
  
</div>
  
