<a class="tile tile-lg tile-pink ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg primary-tile"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title">Trail of Rodrigues</span>
      </span>
    </span>      
  </span>
</a>

<a class="tile tile-lg tile-narrow tile-deep-orange ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        The Trail of Rodrigues
      </h3>
      <p>
        12th November 2016
      </p>
      <h4>
        A la source de l'Esprit du Trail
      </h4>
      <p>
        42km de Plaisir – 22km de Bonheur – 7km d'Authenticité
      </p>
      
      
    </span>      
  </span>
</a>





<div class="tile tile-lg tile-narrow tile-green ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        Rod Trail Association
      </h3>
      <p>
        You are a runner, perhaps a hiker or perhaps just someone who likes being out in Nature. Well, this site is for you. 
      </p>
      <p>
        Rando-Trail & Nature was created for people like us, so feel at home and contact us if you feel the urge, we would be happy to assist or share or provide a comment. 
      </p>
    </span>      
  </span>
</div>

<a class="tile tile-lg tile-light-blue ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg mountain-goat"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title">Rod Trail Association</span>
      </span>
    </span>      
  </span>
</a>

<a class="tile tile-lg tile-cyan ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg band"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title">Discover Rodrigues</span>
      </span>
     
  </span>
</a>

<div class="tile tile-lg tile-narrow tile-shorten tile-cyan ripple-effect">

  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        Next Trail
      </h2>
      <h3 class="next-trail-name">
        <%= link_to @home.next_trail.name, trail_path(@home.next_trail) %>
      </h3>

      <% @home.next_trail_events.each do |event| %>
        <%= "#{event.distance}k" %>
      <% end %>

      <%= I18n.locale %>

      <%= t :hello %>

      <p>
      <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
      |
      <%= link_to_unless I18n.locale == :fr, "Francais", locale: :fr %>
      </p>
      <p>
        <%= link_to "Change lang", home_land_path %>
      </p>
      
      
    </span>      
  </span>
</div>

<div class="tile tile-short tile-half-width tile-narrow tile-amber" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg girls-in-red"></span>
      
    </span>      
  </span>
</div>

<div class="tile tile-short tile-half-width tile-narrow tile-deep-orange" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        Testimonials
      </h2>
      <h3>
        "It was the best trail we have ever done, I can't wait to come back next year!"
      </h3>
      <p>
        Tim Cartwright,
      <br />
        Trail de Rodrigues 2014
      </p>
      
    </span>      
  </span>
</div>

<div class="tile tile-short tile-narrow tile-deep-orange" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg yan"></span>
      
    </span>      
  </span>
</div>

<%= render "common/sponsors" %>