<div class="tile tile-lg tile-pink">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg load-first beach-start"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title">
          <%= t('trail_of_rodrigues.title') %>
        </span>
      </span>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-deep-orange">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        <%= t('trail_of_rodrigues.title') %>
      </h2>
      <p>
        <%= t('trail_of_rodrigues.date') %>
      </p>
      <h4>
        <%= t('trail_of_rodrigues.strapline') %>
      </h4>
      <p>
        The Trail of Rodrigues brings together men, women and children around a healthy practice that combines sport, discovery, proximity with nature and respect for the environment.
      </p>
      <p>
        <%= link_to raw("<i class='material-icons'>arrow_forward</i>"), page_path('trail-rodrigues'), class: "btn-floating btn-large waves-effect waves-light orange" %>
      </p>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-green" href="#">
  <span class="content-wrapper">
    <%= image_tag 'logo-rod-trail-large.jpg', alt: "Rod Trail Association image", width: '100%', class: 'load-first' %>
    <span class="tile-content half-height">
      <p class="no-heading">
        Since 2011, we have taken care of race logistics and security.
      </p>
      <p>We promote Trail as an eco-friendly and community enhancing activity.
        <%= link_to raw("<i class='material-icons'>arrow_forward</i>"), page_path('rod-trail-association'), class: "btn-floating btn-large waves-effect waves-light green" %>
      </p>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-light-blue">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg load-first mountain-goat"></span>
    </span>      
  </span>
</div>

<%= link_to page_path('rodrigues'), class: "tile tile-lg tile-cyan ripple-effect" do %>
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg band"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title">
          Discover Rodrigues <i class="material-icons">arrow_forward</i>
        </span>
      </span>
    </span>
  </span>
<% end %>

<div class="tile tile-lg tile-narrow tile-shorten tile-cyan ripple-effect">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        <%= t('trail_league.title') %>
      </h2>
      <p>
        Trails from 7 to 20k are organised throughout the year, crisscrossing the island from both sides.
      </p>
      <h4>
        <%= t('trail_league.next_trail') %>
      </h4>
      <h3 class="next-trail-name">
        <%= link_to raw("#{@home.next_trail.name} <i class='material-icons'>arrow_forward</i>"), trail_path(@home.next_trail) %>
      </h3>

      <%= l @home.next_trail.date, format: '%-d %B %Y' if @home.next_trail.date %>
      <%= link_to raw("<i class='material-icons'>arrow_forward</i>"), trails_path, class: "btn-floating btn-large waves-effect waves-light blue" %>
    </span>      
  </span>
</div>

<div class="tile tile-short tile-half-width tile-narrow tile-amber" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg girls-in-red"></span>
    </span>      
  </span>
</div>

<div class="tile tile-short tile-half-width tile-narrow tile-deep-orange" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        <%= t('testimonials.title') %>
      </h2>
      <h3>
        "It was the best trail we have ever done, I can't wait to come back next year!"
      </h3>
      <p>
        Tim Cartwright,
      <br />
        <%= t('trail_of_rodrigues.title') %> 2014
      </p>
      <%= link_to raw("<i class='material-icons'>arrow_forward</i>"), page_path('rod-trail-association'), class: "btn-floating btn-large waves-effect waves-light orange" %>
    </span>      
  </span>
</div>

<div class="tile tile-short tile-narrow tile-deep-orange" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg yan"></span>
    </span>      
  </span>
</div>

<%= render "common/sponsors" %>