<div class="row">
  <div class="col s6">
    <div class=" tdr tdr-wrap z-depth-4">
      <div class="content">
        <h3 class="next-trail-name">
          Trail of Rodrigues
        </h3>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class=" rta rta-wrap z-depth-2">
      <div class="content">
        <h3 class="next-trail-name">
          Rod Trail Association
        </h3>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="row">
      <div class="col s6 next-trail z-depth-2">
        <h2>
          Next Trail
        </h2>
        <h3 class="next-trail-name">
          <%= @home.next_trail.name %>
        </h3>

        <% @home.next_trail_events.each do |event| %>
          <%= "#{event.distance}k" %>
        <% end %>
        <p>
          <%= link_to "Full Details", trail_path(@home.next_trail), class: "btn btn-primary" %>
        </p>
      </div>
      <div class="col s6 other">
        <%= I18n.locale %>

        <%= t :hello %>

        <p>
        <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
        |
        <%= link_to_unless I18n.locale == :fr, "Francais", locale: :fr %>
        </p>
        <p>
          <%= link_to "Change lang", home_land_path %>
        </p>
      </div>
    </div>
    
    
  </div>
</div>
