<div class="row">
  <div class="col-md-6">
    <h2>
      Create New Event Distance for <%= @trail.name %>
    </h2>
    <%= simple_form_for [@trail, @event] do |f| %>
      <%= f.input :name %>
      <%= f.input :distance %>
      <%= f.input :description %>
      <%= f.input :local_price %>
      <%= f.input :foreign_price %>
      <%= f.button :submit, "Create Event" %>
    <% end %>
  </div>
</div>
