
<div class="tile tile-lg tile-green">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg load-first support-at-top-of-hill"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title">Rod Trail Association</span>
      </span>
    </span>   
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-green" href="#">
  <span class="content-wrapper">
    <%= image_tag 'logo-rod-trail-medium.jpg', alt: "Rod Trail Association image", width: '100%', class: 'load-first' %>
    <span class="tile-content half-height">
      <%= t('rta.about_home_page_html') %>
    </span>
    <p class="tile-footer">
      <%= link_to "https://www.facebook.com/Rod-Trail-Association-619082944875069", class: 'btn-floating btn-large waves-effect waves-light social-icon', target: '_blank' do %>
        <%= image_tag 'facebook_icon_56.png', alt: "Facebook Icon", class: 'load-first' %>
      <% end %>
    </p>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-green">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg load-first runners-on-rope"></span>
    </span>   
  </span>
</div>

<div class="tile tile-lg tile-light-blue">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>Rod Trail Association</h2>
      <%= t ('rta.about_part_one_html') %>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-green">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>Nature friendly</h2>
      <%= t ('rta.about_part_two_html') %>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-green">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg load-first tortoise-port"></span>
    </span>   
  </span>
</div>

<div class="tile tile-lg tile-full-width tile-flexible-height tile-deep-orange">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        <%= t ('rta.committee.title') %>
      </h2>
      <span class="left-col">
        <ul>
          <li><%= t ('rta.committee.president') %> <strong>Patrice Chan Seem</strong></li>
          <li>Vice-<%= t ('rta.committee.president') %> <strong>Joseph Menery François</strong></li>
          <li><%= t ('rta.committee.secretary') %> <strong>Henrico Louis</strong></li>
          <li>Vice-<%= t ('rta.committee.secretary') %> <strong>Loberty Casimir</strong></li>
          <li><%= t ('rta.committee.treasurer') %> <strong>Louis Claude Arnaud Meunier</strong></li>
        </ul>
      </span>
      <span class="right-col">
        <ul>
          <li>Vice-<%= t ('rta.committee.treasurer') %> <strong>Claudia Fong Kye</strong></li>
          <li><%= t ('rta.committee.member') %> <strong>Marie Joelle Raboude</strong></li>
          <li><%= t ('rta.committee.member') %> <strong>Joseph Ah Kine Botte</strong></li>
          <li><%= t ('rta.committee.member') %> <strong>Steeve Perrine</strong></li>
          <li><%= t ('rta.committee.member') %> <strong>Sarah Jane Kirsakye</strong></li>
        </ul>
      </span>
    </span>      
  </span>
</div>
