
<div class="tile tile-lg tile-green">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg load-first support-at-top-of-hill"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title">Rod Trail Association</span>
      </span>
    </span>   
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-green" href="#">
  <span class="content-wrapper">
    <%= image_tag 'logo-rod-trail-medium.jpg', alt: "Rod Trail Association image", width: '100%', class: 'load-first' %>
    <span class="tile-content half-height">
      <%= t('rta.about_home_page_html') %>
    </span>
    <p class="tile-footer">
      <%= link_to "https://www.facebook.com/Rod-Trail-Association-619082944875069", class: 'btn-floating btn-large waves-effect waves-light social-icon', target: '_blank' do %>
        <%= image_tag 'facebook_icon_56.png', alt: "Facebook Icon", class: 'load-first' %>
      <% end %>
    </p>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-green">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg load-first runners-on-rope"></span>
    </span>   
  </span>
</div>

<div class="tile tile-lg tile-light-blue">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>Rod Trail Association</h2>
      <%= t ('rta.about_part_one_html') %>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-green">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>Nature friendly</h2>
      <%= t ('rta.about_part_two_html') %>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-green">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg load-first tortoise-port"></span>
    </span>   
  </span>
</div>

<div class="tile tile-lg tile-full-width tile-flexible-height tile-deep-orange">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>The Committee</h2>
      <ul>
        <li>Menery FRANCOIS – President</li>
        <li>Aman HORTENSE – Treasurer</li>
        <li>Aurele ANDRE – General Secretary</li>
        <li>Max RABOUDE – Security</li>
        <li>Arnaud MEUNIER – General Organisation</li>
        <li>Henrico LOUIS– General Organisation and logistics / Participants Transport</li>
        <li>Jean Claude AH KANG – Marshals and refreshments</li>
        <li>Nathalie BIRAM – Awards and Sponsors</li>
        <li>Marianna MEUNIER – Awards and Sponsors</li>
        <li>Harry LUCCHESI – Guests/transport</li>
        <li>Jérôme DESIRE – Website</li>
        <li>Henrico LOUIS – Cultural organisation</li>
        <li>Eric LACROIX – Technical director of the trail</li>
        <li>Fok Keng HO TU NAm – Food and Beverages</li>
        <li>Sherilane BEGUE– General secretarial activities</li>
        <li>Alfred ROSE– Medical</li>
        <li>Fok Keng HO TU NAM – Sustainable development</li>
        <li>Baby PASNIN/Bernadette PLAICHE – Prize Giving Ceremony/Animations</li>
        <li>Carine PROSPER/Roselyn ANDRE RENE – Cocktail of Invitees</li>
      </ul>
    </span>      
  </span>
</div>
