<div class="tile tile-lg tile-pink">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg load-first sunset"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title">
          <%= t ('rodrigues.title') %>
        </span>
      </span>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-cyan ripple-effect">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2><%= t ('rodrigues.title') %></h2>
      <%= t ('rodrigues.quote_html') %>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow">
  <span class="content-wrapper">
      <%= image_tag 'sponsors/tourism-office.jpg', alt: "Tourism Office image", width: '100%', class: 'load-first' %>
      <span class="tile-content half-height">
        
      </span>
    </span>      
    <p class="tile-footer">
      <%= link_to raw("<i class='material-icons'>arrow_forward</i>"), "http://www.tourism-rodrigues.mu/", class: "btn-floating btn-large waves-effect waves-light blue", target: "_blank" %>
    </p> 
  </span>
</div>

<div class="tile tile-lg tile-light-blue">
  <span class="content-wrapper">
    <span class="tile-content">
      <%= t ('rodrigues.discover_html') %>
    </span>      
  </span>
</div>

<div class= "tile tile-lg tile-cyan ripple-effect">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg rodoil"></span>
      <span class="tile-holder tile-holder-sm">
        
      </span>
    </span>
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-cyan ripple-effect">
  <span class="content-wrapper">
    <span class="tile-content">
      <%= t ('rodrigues.quote_html') %>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-green" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg load-first accordian-girl-port"></span>
    </span>   
  </span>
</div>

<div class="tile tile-lg tile-green">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>Activities</h2>
      <p>activities (kite surf, zip line, bird sanctuary of ilot Cocos, The Francois Leguat Giant Tortoise & Cave Reserve, Grande Montagne Nature Reserve, Protection of Marine Turtles, Safari Night club)</p>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-deep-orange">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>Hotels and Packages</h2>
      
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-green" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg load-first old-lady-in-red-port"></span>
    </span>   
  </span>
</div>

