<div class="tile tile-lg tile-pink">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg load-first sunset"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title">
          <%= t ('rodrigues.title') %>
        </span>
      </span>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-cyan ripple-effect">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2><%= t ('rodrigues.title') %></h2>
      <%= t ('rodrigues.quote_html') %>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow">
  <span class="content-wrapper">
      <%= image_tag 'sponsors/tourism-office.jpg', alt: "Tourism Office image", width: '100%', class: 'load-first' %>
      <span class="tile-content half-height">
        
      </span>
    </span>      
    <p class="tile-footer">
      <%= link_to raw("<i class='material-icons'>arrow_forward</i>"), "http://www.tourism-rodrigues.mu/", class: "btn-floating btn-large waves-effect waves-light blue", target: "_blank" %>
    </p> 
  </span>
</div>

<div class="tile tile-lg tile-light-blue">
  <span class="content-wrapper">
    <span class="tile-content">
      <%= t ('rodrigues.discover_html') %>
    </span>      
  </span>
</div>

<div class= "tile tile-lg tile-cyan ripple-effect">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg rodoil"></span>
      <span class="tile-holder tile-holder-sm">
        
      </span>
    </span>
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-cyan ripple-effect">
  <span class="content-wrapper">
    <span class="tile-content">
      <%= t ('rodrigues.quote_html') %>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-green" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg load-first accordian-girl-port"></span>
    </span>   
  </span>
</div>

<div class="tile tile-lg tile-green">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        <%= t ('activities.title') %>
      </h2>
      <p>
        <%= t ('activities.intro') %>
      </p>
      <a href="#tortoise" class="link-list modal-trigger">
        <h3><%= t('activities.tortoise.title') %> <i class="material-icons">arrow_forward</i></h3>
      </a>
      <a href="#cocos" class="link-list modal-trigger">
        <h3><%= t('activities.cocos.title') %> <i class="material-icons">arrow_forward</i>
      </h3>
      <a href="#zip" class="link-list modal-trigger"></h3>
        <h3><%= t('activities.zip_line.title') %> <i class="material-icons">arrow_forward</i></h3>
      </a>
      <a href="#kite" class="link-list modal-trigger">
        <h3><%= t('activities.kitesurf.title') %> <i class="material-icons">arrow_forward</i></h3>
      </a>
      <a href="#montagne" class="link-list modal-trigger">
        <h3><%= t('activities.grande_montagne.title') %> <i class="material-icons">arrow_forward</i></h3>
      </a>
      <a href="#night" class="link-list modal-trigger">
        <h3><%= t('activities.night_life.title') %> <i class="material-icons">arrow_forward</i></h3>
      </a>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-deep-orange">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        <%= t ('hotels.title') %>
      </h2>
      <p>
        <%= t ('hotels.body_html') %>
      </p>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-green" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg load-first old-lady-in-red-port"></span>
    </span>   
  </span>
</div>


<!-- Activities Modals -->
<div id="tortoise" class="modal outside-dashboard do-not-animate">
  <div class="modal-content">
    <h2>
      <%= t('activities.tortoise.title') %>
    </h2>
    <%= t('activities.tortoise.body_html') %>
  </div>
</div>

<div id="cocos" class="modal outside-dashboard do-not-animate">
  <div class="modal-content">
    <h2>
      <%= t('activities.cocos.title') %>
    </h2>
    <%= t('activities.cocos.body_html') %>
  </div>
</div>

<div id="zip" class="modal outside-dashboard do-not-animate">
  <div class="modal-content">
    <h2>
      <%= t('activities.zip_line.title') %>
    </h2>
    <%= t('activities.zip_line.body_html') %>
  </div>
</div>

<div id="kite" class="modal outside-dashboard do-not-animate">
  <div class="modal-content">
    <h2>
      <%= t('activities.kitesurf.title') %>
    </h2>
    <%= t('activities.kitesurf.body_html') %>
  </div>
</div>

<div id="montagne" class="modal outside-dashboard do-not-animate">
  <div class="modal-content">
    <h2>
      <%= t('activities.grande_montagne.title') %>
    </h2>
    <%= t('activities.grande_montagne.body_html') %>
  </div>
</div>

<div id="night" class="modal outside-dashboard do-not-animate">
  <div class="modal-content">
    <h2>
      <%= t('activities.night_life.title') %>
    </h2>
    <%= t('activities.night_life.body_html') %>
  </div>
</div>

