<a class="tile tile-lg tile-pink ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg runners-through-trees"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title">Trail de Rodrigues</span>
      </span>
    </span>      
  </span>
</a>

<div class="tile tile-lg tile-narrow tile-deep-orange swap-me">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        Trail de Rodrigues
      </h3>
      <p>
    A la source de l'Esprit du Trail</p>

    <p>42km de Plaisir – 22km de Bonheur – 7km d'Authenticité</p>

    <p>
      Le Trail de Rodrigues (6eme édition aura lieu le 8 novembre 2015). C'est l'évènement incontournable dans le calendrier d'évènementiels de l'île Rodrigues.
    </p>
    
    <p>
      S'inserant dans la logique du développement durable, le Trail de Rodrigues vise à réunir des hommes et des femmes dans les sentiers autour d'une pratique saine alliant le sport, la découverte et le plaisir de vivre en harmonie avec la nature.
    </p>


<p>
Le Trail de Rodrigues. L'Eden du trail rythme avec l'Evasion et l'Authenticité. Il se réalise avec et pour la communauté.
  </p>
      
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-full-width tile-flexible-height tile-light-blue ripple-effect swap-me-with" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        A la source de l'Esprit du Trail
      </h3>

      <p>42km de Plaisir – 22km de Bonheur – 7km d'Authenticité</p>

      <p>
        Le Trail de Rodrigues (6eme édition aura lieu le 8 novembre 2015). C'est l'évènement incontournable dans le calendrier d'évènementiels de l'île Rodrigues.
      </p>
      
      <p>
        S'inserant dans la logique du développement durable, le Trail de Rodrigues vise à réunir des hommes et des femmes dans les sentiers autour d'une pratique saine alliant le sport, la découverte et le plaisir de vivre en harmonie avec la nature.
      </p>


      <p>
        Le Trail de Rodrigues. L'Eden du trail rythme avec l'Evasion et l'Authenticité. Il se réalise avec et pour la communauté.
      </p>
      
    </span>      
  </span>
</div>



<div class="tile tile-lg tile-narrow tile-green ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        Registration
      </h3>
      <p>
        Adults: Rs 150
      </p>
      <p>
        Chidren: Rs 100
      </p>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-light-blue">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg kids-watch-with-umbrella"></span>
      
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-full-width tile-flexible-height tile-light-blue ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        Participants
      </h3>
      <%= I18n.locale %>

      <%= t :hello %>

      <p>
      <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
      |
      <%= link_to_unless I18n.locale == :fr, "Francais", locale: :fr %>
      </p>
      <p>
        <%= link_to "Change lang", home_land_path %>
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates voluptatibus cumque unde, optio culpa sunt possimus a! Maiores repellendus dignissimos, quos unde quasi, adipisci non rerum magnam optio obcaecati delectus.
      </p>
    </span>      
  </span>
</div>

<%= render "common/testimonial" %>
<%= render "common/sponsors" %>

 
