<div class="tile tile-lg tile-pink">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg load-first tdr-start"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title">
          <%= t ('trail_of_rodrigues.title') %>
        </span>
      </span>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-deep-orange">
  <span class="content-wrapper">
    <%= image_tag 'tdr-logo.jpg', alt: "Trail of Rodrigues Logo", width: '100%', class: 'load-first' %>
    <span class="tile-content half-height">

      <h2 style="margin-bottom: 0;">
        <%= t ('trail_of_rodrigues.date') %>
      </h2>
      <h4 style="margin-top: 0;">
        <%= t ('trail_of_rodrigues.edition') %>
      </h4>
      <p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#register-now">
          <%= t('register.now') %> <i class='material-icons'>open_in_new</i>
        </a>
      </p>
      <% if user_signed_in? && current_user.is_admin? %>
        <!-- Modal Trigger -->
        <%= link_to raw("Manage <i class='material-icons'>edit</i>"), "#admin", class: "waves-effect waves-light btn modal-trigger" %>
      <% end %>
      <p class="tile-footer">
        <%= link_to "https://www.facebook.com/TrailDeRodrigues", class: 'btn-floating btn-large waves-effect waves-light social-icon', target: '_blank' do %>
          <%= image_tag 'facebook_icon_56.png', alt: "Facebook Icon", class: 'load-first' %>
        <% end %>
      </p>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-green ripple-effect tile--44k-image hide-on-mobile">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg support-from-musicians-port"></span>
      <span class="tile-holder tile-holder-sm">
      </span>
    </span>     
  </span>
</div>

<div class="tile tile-short tile-light-blue tile--44k">
  <span class="content-wrapper">
    <span class="tile-content center">
      <h3 class="h1">44k</h3>
      <h2>Marathon de l'Eden</h2>
      <h3 class="h1">2100m<i class='material-icons'>arrow_upward</i> 2050m<i class='material-icons'>arrow_downward</i></h3>
      <p><i class='material-icons'>access_time</i> 05h00 <i class='material-icons'>place</i> Cotton Bay</p>
      <p>
        <!-- Modal Trigger -->
        <%= link_to raw("<i class='material-icons'>trending_up</i>"), "#course-44", class: "btn-floating btn-large waves-effect waves-light orange modal-trigger tooltipped", data: { position: "bottom", delay: "50", tooltip: "Course" } %>
        <!-- Modal Trigger -->
        <%= link_to raw("<i class='material-icons'>directions_bus</i>"), "#transport-44", class: "btn-floating btn-large waves-effect waves-light blue modal-trigger tooltipped", data: { position: "bottom", delay: "50", tooltip: "Transport" } %>
        <%= link_to raw("<i class='material-icons'>directions_run</i>"), @data.participants_44k.url, class: "btn-floating btn-large waves-effect waves-light tooltipped", target: "_blank", data: { position: "bottom", delay: "50", tooltip: "Participants" } if data.participants_44k.present? %>
      </p>
    </span>
</div>

<%= render 'common/trail_rodrigues_courses' %>

<div class="tile tile-lg tile-deep-orange tile--about">
  <span class="content-wrapper">
    <span class="tile-content">
      <%= t ('trail_of_rodrigues.about_part_one_html') %>
    </span>
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-green ripple-effect hide-on-mobile">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg old-lady-in-red-port"></span>
      <span class="tile-holder tile-holder-sm">
      </span>
    </span>     
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-green ripple-effect hide-on-mobile">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg support-from-musicians-port"></span>
      <span class="tile-holder tile-holder-sm">
      </span>
    </span>     
  </span>
</div>

<div class="tile tile-lg tile-light-blue tile--about">
  <span class="content-wrapper">
    <span class="tile-content">
      <%= t ('trail_of_rodrigues.about_part_two_html') %>
  </span>
</div>

<div class="tile tile-lg tile-light-blue">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg kids-watch-with-umbrella"></span>
      
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-green">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        <%= t('register.title') %>
      </h2>
      <p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#register-now">
          <%= t('register.now') %> <i class='material-icons'>open_in_new</i>
        </a>
      </p>
      <h4>
        <%= t('register.entry_fees') %>
      </h4>
      <p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#entry-fees-foreign">
          <%= t('register.foreigners') %> <i class='material-icons'>open_in_new</i>
        </a>
      </p>
      <p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#entry-fees-local">
          <%= t('register.Mauritians') %> <i class='material-icons'>open_in_new</i>
        </a>
      </p>
    </span>      
  </span>
</div>





<div class="tile tile-lg tile-narrow tile-deep-orange">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        <%= t('rules.title') %>
      </h2>
      <p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#general">
          General <i class='material-icons'>open_in_new</i>
        </a>
      </p>
      <p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#categories">
          Categories <i class='material-icons'>open_in_new</i>
        </a>
      </p>
      <p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#equipment">
          Equipment <i class='material-icons'>open_in_new</i>
        </a>
      </p>
      <h2>
        <%= t ('trail_of_rodrigues.organisers') %>
      </h2>
      <p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#team">
          <%= t ('trail_of_rodrigues.team.title') %> <i class='material-icons'>open_in_new</i>
        </a>
      </p>
    </span>      
  </span>
</div>

<a class="tile tile-lg tile-pink modal-trigger" href="#results">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg medals"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title"><%= t('results.title') %> <i class='material-icons'>arrow_forward</i></span>
      </span>
    </span>      
  </span>
</a>

<%= render "common/testimonial" %>
<%= render "common/sponsors" %>

<!-- Entry Fees Foreigners Modal -->
<div id="entry-fees-foreign" class="modal outside-dashboard do-not-animate">
  <div class="modal-content">
    <h4>
      <%= "#{t('register.entry_fees')} #{t('register.foreigners')}" %>
    </h4>
    <table>
      <thead>
        <tr>
            <th>Trail</th>
            <th><%= t('register.early_date_1') %></th>
            <th><%= t('register.early_date_2') %></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>44k</td>
          <td>€40</td>
          <td>€50</td>
        </tr>
        <tr>
          <td>22k</td>
          <td>€30</td>
          <td>€40</td>
        </tr>
        <tr>
          <td>12k</td>
          <td>€25</td>
          <td>€35</td>
        </tr>
        <tr>
          <td>7k</td>
          <td>€20</td>
          <td>€30</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Entry Fees Local Modal -->
<div id="entry-fees-local" class="modal outside-dashboard do-not-animate">
  <div class="modal-content">
    <h4>
      <%= "#{t('register.entry_fees')} #{t('register.Mauritians')}" %>
    </h4>
    <table>
      <thead>
        <tr>
            <th>Trail</th>
            <th><%= t('register.early_date_1') %></th>
            <th><%= t('register.early_date_2') %></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>44k</td>
          <td>Rs1500</td>
          <td>Rs1800</td>
        </tr>
        <tr>
          <td>22k</td>
          <td>Rs1100</td>
          <td>Rs1500</td>
        </tr>
        <tr>
          <td>12k</td>
          <td>Rs900</td>
          <td>Rs1200</td>
        </tr>
        <tr>
          <td>7k</td>
          <td>Rs700</td>
          <td>Rs1000</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Race Rules Modal -->
<div id="general" class="modal race-rules outside-dashboard do-not-animate">
  <div class="modal-content">
    <h4>
      <%= t('rules.title') %>
    </h4>

    <h3>Organisation</h3>
    <p>La 7ème édition du Trail de Rodrigues est organisé par l'Association du Rod Trail le Dimanche 6 novembre 2016.</p>

    <h3>Epreuves</h3>
    <p>Le Trail de Rodrigues est un événement incontournable dans le calendrier d'événementiel de l'ile Rodrigues.  S'insérant dans la logique du développent durable, l'Eden du Trail vise à réunir des hommes et des femmes dans les sentiers autour d'une pratique saine alliant le sport, la découverte et le plaisir de vivre en harmonie avec la nature.  Cet événement rythme avec l'évasion et authenticité qui se réalise avec et pour la communauté.</p>
    <ul>
      <li>Le Trail de l'Eden (44km/2100m D+): Départ à l'hôtel Pointe Cotton à 5h00.</li>
      <li>Le Trail Solitaire (22km/ 1100m D+): Départ à Pointe l'Herbe à 7h00 à côté du Phoenix Beverages Limitée. </li>
      <li>Le Trail Tortue (7km/145m D+): Départ à Maréchal sur le terrain de foot à 9h00.</li>
    </ul>
    <p>L'arrivée des trois courses sera à la Reserve des Tortues à Anse Quitor.</p>

    <h3>Conditions de Participation</h3>
    <p>Les inscriptions du Trail de l'Eden (44km) et le Trail Solitaire (22km) sont réservées aux personnes bien entrainées et en bonne condition physique (accord de votre médecin traitant).  Le Trail Tortue (7km) est également  réservé aux personnes en bonne condition physique.</p>
    <ul>
      <li>Le Trail de l'Eden (44km): Course réservée aux personnes de plus de 18 ans.</li>
      <li>Le Trail Solitaire (22km): Course réservée aux personnes de plus de 18 ans.</li>
      <li>Le Trail Tortue (7km): Course réservée aux personnes de plus de 12 ans. Tout enfant moins de 8 ans devra être obligatoirement accompagner d'un adulte.</li>
    </ul>

    <h3>Semi Autonomie</h3>
    <p>(a) Chaque coureur doit avoir avec lui pendant toute la durée de la course la totalité de son matériel obligatoire (voir paragraphe EQUIPEMENT).  Le coureur a l’obligation de se soumettre à ces contrôles avec cordialité, sous peine d’exclusion de la course. </p>
    <p>(b) Des postes de ravitaillement sont approvisionnés en boissons et nourritures à consommer sur place. L’organisation ne fournit que de l’eau plate pour le remplissage des bidons ou poches à eau. Le coureur doit veiller à disposer, au départ de chaque poste de ravitaillement, de la quantité d’eau et d’aliments qui lui est nécessaire pour rallier le point de ravitaillement suivant.</p>
    <p>(c) Pour le Trail de l'Eden (44km) et le Trail Solitaire (22km), une assistance personnelle est tolérée exclusivement sur certains points de ravitaillement(*), dans la zone spécifiquement réservée à cet usage et à l’appréciation du chef de poste.  Le reste du poste de ravitaillement est strictement réservé aux coureurs.</p>
    <p>(d)  Il est interdit de se faire accompagner ou d’accepter d’être accompagné pendant tout ou partie de la course par une personne non inscrite, hors des zones de tolérance clairement signalées à proximité des postes de ravitaillement.</p>

    <p><strong>* L'assistance personnelle est tolérée sur les postes suivants:</strong></p>
    <p>Le Trail de l'Eden et le Trail Solitaire: Mt Bois Noir, Fond la Bonté et Rivière Coco.</p>
    <p><strong>Elle est interdite sur les autres postes de ravitaillement ainsi que sur tous les autres points du parcours.</strong></p>

    <h3>Catégories/ Récompenses</h3>
    <p>Les catégories d'âge concernant l'année civile, qui débute le 1 er janvier et se termine le 31 décembre.  Les cinq premiers  participants des trois courses seront classés et récompensés selon les catégories ci-dessus.</p>

    <table class="striped">
      <thead>
        <tr>
            <th>Catégorie</th>
            <th>Code</th>
            <th>Groupe d'Age</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Junior Homme</td>
          <td>JUH</td>
          <td>16 à 19 ans</td>
        </tr>
        <tr>
          <td>Junior Femme</td>
          <td>JUF</td>
          <td>16 à 19 ans</td>
        </tr>
        <tr>
          <td>Espoirs Homme</td>
          <td>ESH</td>
          <td>20 à 29 ans</td>
        </tr>
        <tr>
          <td>Espoirs Femme</td>
          <td>ESF</td>
          <td>20 à 29 ans</td>
        </tr>
        <tr>
          <td>Senior Homme</td>
          <td>SHE</td>
          <td>30 à 39 ans</td>
        </tr>
        <tr>
          <td>Senior Femme</td>
          <td>SHF</td>
          <td>30 à 39 ans</td>
        </tr>
        <tr>
          <td>Vétérans Homme</td>
          <td>VH1</td>
          <td>40 à 49 ans</td>
        </tr>
        <tr>
          <td></td>
          <td>VH2</td>
          <td>50 à 59 ans</td>
        </tr>
        <tr>
          <td></td>
          <td>VH3</td>
          <td>60 à 69 ans</td>
        </tr>
        <tr>
          <td></td>
          <td>VH4</td>
          <td>70+</td>
        </tr>
        <tr>
          <td>Vétérans Femmes</td>
          <td>VF1</td>
          <td>40 à 49 ans</td>
        </tr>
        <tr>
          <td></td>
          <td>VF2</td>
          <td>50 à 59 ans</td>
        </tr>
        <tr>
          <td></td>
          <td>VF3</td>
          <td>60 à 69 ans</td>
        </tr>
        <tr>
          <td></td>
          <td>VF4</td>
          <td>70+</td>
        </tr>
      </tbody>
    </table>
   
    <p>Le temps de chaque concurrent sera décomposé en heures, minutes et seconde.  Le chronomètre de l'organisation sera la seule référence officielle.  Dans l'éventualité d'arrivée ex-æquo, l'avantage sera donné au plus âgé.</p>
    <p>La lecture des résultats et la remise des prix auront lieu à partir de 13 heures à la Reserve de Tortues à Anse Quitor sur le podium officiel.</p>

    <h3>Equipement</h3>
    <ul>
      <li>Trail Tortue (7km): Chaussures adéquates.</li>
      <li>Trail Solitaire (22km): Sac à eau (type camelback ou similaire) ou ceinture à bidon obligatoire (réserve d'eau de 1.0 L min); chaussures adéquates.</li>
      <li>Trail de l'Eden (44km): Sac à eau (type camelback ou similaire) ou ceinture à bidon obligatoire (réserve d'eau de 1.5L min); chaussures adéquates et sifflet.</li>
    </ul>

    <p>Matériel recommandé en fonction des conditions météo pour le Trail Solitaire (22km) et le Trail de l'Eden (44km):</p>
    <ul>
      <li>Casquette ou buff</li>
      <li>Gants</li>
    </ul>

    <h3>Postes de Contrôle</h3>
    <p>Des postes de contrôle sont repartis le long du parcours et constituent des sites de pointage obligatoire pour les concurrents.</p>

    <h3>Abandon</h3>
    <p>En cas d'abandon, le concurrent doit obligatoirement prévenir le responsable du poste de contrôle le plus proche et lui remettre son dossard.</p>

    <h3>Sécurité / Assistance Médicale</h3>
    <p>Une équipe de secours sera mise en place par l'organisation et sera présente pendant toute la durée de l'épreuve.  Le concurrent doit impérativement contacter le chef de poste pour une assistance médicale.  Deux docteurs pourront intervenir si nécessaire qui sont poster à l'hôpital de La Ferme et de Mont Lubin.  Une équipe médicale sera aussi présente à l'arrivée.</p>
    <p>Il appartient à chaque coureur de porter assistance à toute personne en danger et de prévenir les secours.  Tout problème ou accident devra être immédiatement signalé au poste de contrôle le plus proche.  N’oubliez pas que des aléas de toute sorte, liés à l’environnement et à la course, peuvent vous faire attendre les secours plus longtemps que prévu.  Un coureur faisant appel à un médecin ou un secouriste se soumet de fait à son autorité et s’engage à accepter ses décisions. Les secouristes et médecins officiels sont habilités:</p>
    <ul>
      <li>À retirer de la course (en invalidant le dossard) tout participant inapte à continuer l’épreuve.</li>
      <li>À faire évacuer les coureurs qu’ils jugeront en danger.</li>
      <li>À faire hospitaliser les coureurs dont l’état de santé le nécessitera.</li>
    </ul>
 
    <h3>Le Dossard / Briefing de Course</h3>
    <p>Les dossards pourront être récupérés au centre culturel et loisir de Mont Plaisir entre 9h00 et 17h00 et le briefing de course sera entre 16h00 et 17h00.  Chaque dossard est remis en main propre au coureur inscrit sur présentation d'une pièce d'identité avec photo ou une évidence de paiement, sans ce document le dossard ne sera pas remis. Aucun dossard sera remis le jour du départ.  Le dossard doit être porté sur la poitrine ou le ventre et doit être visible pendant la totalité de la course.</p>

    <h3>Assurance</h3>
    <p>L’organisation souscrit une assurance responsabilité civile pour la durée de l’épreuve. Cette assurance responsabilité civile garantie les conséquences pécuniaires de sa responsabilité, de celle de ses préposés et des participants. L’organisation décline toute responsabilité en cas d’accident ou de défaillance dû à un mauvais état de santé. L’organisateur invite les participants à se prévaloir d’une assurance individuelle accident couvrant les risques encourus durant l’évènement.</p>

    <h3>Doit d'Image</h3>
    <p>Chaque participant autorise  les organisateurs du Trail de Rodrigues, ainsi que leurs partenaires et médias, à utiliser les images sur lesquelles il pourrait apparaître.</p>

    <h3>Pénalisation - Disqualification</h3>
    <p>Les chefs de poste des différents points de contrôle et de ravitaillement sont habilités à faire respecter le règlement et à appliquer immédiatement (*) une pénalité en cas de non-respect, selon le tableau suivant:</p>

    <table class="striped">
      <thead>
        <tr>
            <th>MANQUEMENT AU RÈGLEMENT</th>
            <th>PÉNALISATION (*) – DISQUALIFICATION</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Absence de matériel obligatoire de sécurité</td>
          <td>Pénalités de temps</td>
        </tr>
        <tr>
          <td>Refus d’un contrôle du matériel obligatoire</td>
          <td>Disqualification</td>
        </tr>
        <tr>
          <td>Jet de détritus (acte volontaire) par un concurrent ou un membre de son entourage</td>
          <td>Pénalités de temps</td>
        </tr>
        <tr>
          <td>Circulation en dehors des sentiers balisés</td>
          <td>Disqualification</td>
        </tr>
        <tr>
          <td>Dégradation volontaire de l’environnement</td>
          <td>Disqualification</td>
        </tr>
        <tr>
          <td>Vandalisme sur le balisage</td>
          <td>Disqualification</td>
        </tr>
        <tr>
          <td>Non-respect des personnes (organisation ou coureurs)</td>
          <td>Disqualification</td>
        </tr>
        <tr>
          <td>Non-assistance à une personne en difficulté</td>
          <td>Pénalités de temps</td>
        </tr>
        <tr>
          <td>Assistance en dehors des zones autorisées</td>
          <td>Pénalités de temps</td>
        </tr>
        <tr>
          <td>Triche (ex : utilisation d’un moyen de transport, partage de dossard…)</td>
          <td>Disqualification immédiate</td>
        </tr>
        <tr>
          <td>Refus d’obtempérer à un ordre de la direction de la course, d’un commissaire de course, d’un chef de poste, d’un médecin ou d’un secouriste</td>
          <td>Disqualification immédiate</td>
        </tr>
        <tr>
          <td>Défaut de dossard visible</td>
          <td>Pénalités de temps</td>
        </tr>
      </tbody>
    </table>

    <p>(*) Tout autre manquement au règlement fera l’objet d’une sanction décidée par le jury de course.</p>

    <h3>Annulation de la Course</h3>
    <p>Toute annulation de la course en cas d'intempéries ou cas de force majeure (inondation, incendie, cyclone etc.) ne donnera lieu à aucun remboursement.</p>

    <h3>Complainte</h3>
    <p>Toutes complaintes de la part des concurrents seront acceptées qu'après 30 minutes après avoir franchi la ligne d'arrivée.</p>
  </div>
</div>

<!-- Categories Modal -->
<div id="categories" class="modal race-rules outside-dashboard do-not-animate">
  <div class="modal-content">
    <h4>
      <%= t('rules.categories.title') %>
    </h4>
    <p>
      <%= t('rules.categories.intro') %>
    </p>

    <table class="striped">
      <thead>
        <tr>
            <th><%= t('rules.categories.category') %></th>
            <th>Code</th>
            <th><%= t('rules.categories.age_group') %></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Junior <%= t('rules.categories.men') %></td>
          <td>JUH</td>
          <td>16 <%= t('rules.categories.to') %> 19 <%= t('rules.categories.years') %></td>
        </tr>
        <tr>
          <td>Junior <%= t('rules.categories.women') %></td>
          <td>JUF</td>
          <td>16 <%= t('rules.categories.to') %> 19 <%= t('rules.categories.years') %></td>
        </tr>
        <tr>
          <td><%= t('rules.categories.young') %> <%= t('rules.categories.men') %></td>
          <td>ESH</td>
          <td>20 <%= t('rules.categories.to') %> 29 <%= t('rules.categories.years') %></td>
        </tr>
        <tr>
          <td><%= t('rules.categories.young') %> <%= t('rules.categories.women') %></td>
          <td>ESF</td>
          <td>20 <%= t('rules.categories.to') %> 29 <%= t('rules.categories.years') %></td>
        </tr>
        <tr>
          <td>Senior <%= t('rules.categories.men') %></td>
          <td>SHE</td>
          <td>30 <%= t('rules.categories.to') %> 39 <%= t('rules.categories.years') %></td>
        </tr>
        <tr>
          <td>Senior <%= t('rules.categories.women') %></td>
          <td>SHF</td>
          <td>30 <%= t('rules.categories.to') %> 39 <%= t('rules.categories.years') %></td>
        </tr>
        <tr>
          <td><%= t('rules.categories.veteran') %> <%= t('rules.categories.men') %></td>
          <td>VH1</td>
          <td>40 <%= t('rules.categories.to') %> 49 <%= t('rules.categories.years') %></td>
        </tr>
        <tr>
          <td></td>
          <td>VH2</td>
          <td>50 <%= t('rules.categories.to') %> 59 <%= t('rules.categories.years') %></td>
        </tr>
        <tr>
          <td></td>
          <td>VH3</td>
          <td>60 <%= t('rules.categories.to') %> 69 <%= t('rules.categories.years') %></td>
        </tr>
        <tr>
          <td></td>
          <td>VH4</td>
          <td>70+</td>
        </tr>
        <tr>
          <td><%= t('rules.categories.veteran') %> <%= t('rules.categories.women') %></td>
          <td>VF1</td>
          <td>40 <%= t('rules.categories.to') %> 49 <%= t('rules.categories.years') %></td>
        </tr>
        <tr>
          <td></td>
          <td>VF2</td>
          <td>50 <%= t('rules.categories.to') %> 59 <%= t('rules.categories.years') %></td>
        </tr>
        <tr>
          <td></td>
          <td>VF3</td>
          <td>60 <%= t('rules.categories.to') %> 69 <%= t('rules.categories.years') %></td>
        </tr>
        <tr>
          <td></td>
          <td>VF4</td>
          <td>70+</td>
        </tr>
      </tbody>
    </table>
   
    <%= t('rules.categories.outro_html') %>

  </div>
</div>

<!-- Equipment Modal -->
<div id="equipment" class="modal race-rules outside-dashboard do-not-animate">
  <div class="modal-content">
    <h3>
      <%= t('rules.equipment.title') %>
    </h3>
    <ul>
      <li><%= t('rules.equipment.44k') %></li>
      <li><%= t('rules.equipment.22k') %></li>
      <li><%= t('rules.equipment.12k') %></li>
      <li><%= t('rules.equipment.7k') %></li>
    </ul>
    <%= t('rules.equipment.general_html') %>
  </div>
</div>

<!-- 44k Course Modal -->
<div id="course-44" class="modal course-map outside-dashboard do-not-animate">
  <div class="modal-content center">
    <%= image_tag "maps/44k.jpg", class: "course-map-image responsive-img" %>
  </div>
</div>

<!-- 22k Course Modal -->
<div id="course-22" class="modal course-map outside-dashboard do-not-animate">
  <div class="modal-content center">
    <%= image_tag "maps/22k.jpg", class: "course-map-image responsive-img" %>
  </div>
</div>

<!-- 12k Course Modal -->
<div id="course-12" class="modal course-map outside-dashboard do-not-animate">
  <div class="modal-content center">
    <%= image_tag "maps/12k.jpg", class: "course-map-image responsive-img" %>
  </div>
</div>


<!-- 7k Course Modal -->
<div id="course-7" class="modal course-map outside-dashboard do-not-animate">
  <div class="modal-content center">
    <%= image_tag "maps/7k.jpg", class: "course-map-image responsive-img" %>
  </div>
</div>

<!-- Results Modal -->
<div id="results" class="modal results tile-img-bg medals outside-dashboard do-not-animate">
  <div class="modal-content center" style="background-color: rgba(0,0,0,0.2);">
    <h2 style="color: white;">2016</h2>
    <p>
      <%= link_to raw("44k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2016_44k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
      <%= link_to raw("22k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2016_22k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
      <%= link_to raw("7k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2016_7k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
    </p>
    <h2 style="color: white;">2015</h2>
    <p>
      <%= link_to raw("42k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2015_42k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
      <%= link_to raw("22k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2015_22k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
      <%= link_to raw("7k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2015_7k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
    </p>
    <h2 style="color: white">2014</h2>
    <p>
      <%= link_to raw("38k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2014_38k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
      <%= link_to raw("15k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2014_15k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
      <%= link_to raw("7k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2014_7k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
    </p>
    <h2 style="color: white">2013</h2>
    <p>
      <%= link_to raw("38k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2013_38k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
      <%= link_to raw("10k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2013_10k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
      <%= link_to raw("5k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2013_5k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
    </p>
    <h2 style="color: white">2012</h2>
    <p>
      <%= link_to raw("38k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2012_38k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
      <%= link_to raw("10k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2012_10k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
      <%= link_to raw("5k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2012_5k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
    </p>
    <h2 style="color: white">2011</h2>
    <p>
      <%= link_to raw("37k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2011_37k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
      <%= link_to raw("10k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2011_10k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
      <%= link_to raw("5k <i class='material-icons'>open_in_new</i>"), asset_path("files/results/results_2011_5k.pdf"), class: 'waves-effect waves-light btn', target: '_blank' %>
    </p>
  </div>
</div>

<!-- Team Modal -->
<div id="team" class="modal team outside-dashboard do-not-animate">
  <div class="modal-content">
    <h2>
      <%= t ('trail_of_rodrigues.team.title') %>
    </h2>
      <ul>
        <li><%= t ('trail_of_rodrigues.team.md') %> <strong>Aurele Anquetil Andre</strong></li>
        <li><%= t ('trail_of_rodrigues.team.secretary') %> <strong>Henrico Louis</strong></li>
        <li><%= t ('trail_of_rodrigues.team.race_director') %> <strong>Louis Claude Arnaud Meunier</strong></li>
        <li><%= t ('trail_of_rodrigues.team.technical_director') %> <strong>Eric Lacroix</strong></li>
        <li><%= t ('trail_of_rodrigues.team.logistics') %> <strong>Steeve Perrine</strong></li>
        <li><%= t ('trail_of_rodrigues.team.security') %> <strong>Max Raboude</strong></li>
        <li><%= t ('trail_of_rodrigues.team.marshals') %> <strong>Jean Claude Ah Kang</strong></li>
        <li><%= t ('trail_of_rodrigues.team.sponsors') %> <strong>Nathalie Biram, Baby Pasnin</strong></li>
        <li><%= t ('trail_of_rodrigues.team.volunteers') %> <strong>Loberty Casimir</strong></li>
        <li><%= t ('trail_of_rodrigues.team.designer') %> <strong>Jerome Desiree, Natasha Augustin</strong></li>
        <li><%= t ('trail_of_rodrigues.team.prize_giving') %> <strong>Nathalie Biram</strong></li>
        <li><%= t ('trail_of_rodrigues.team.beverages') %> <strong>Fok Keng Ho Tu Nam</strong></li>
        <li><%= t ('trail_of_rodrigues.team.website') %> <strong>Tim Cartwright</strong></li>
        <li><%= t ('trail_of_rodrigues.team.medical') %> <strong>Alfred Rose</strong></li>
        <li><%= t ('trail_of_rodrigues.team.transport') %> <strong>Henrico Louis</strong></li>
        <li><%= t ('trail_of_rodrigues.team.cocktail') %> <strong>Roselyn Andre Rene</strong></li>
      </ul>
    </span>
  </div>
</div>

<!-- 44k Transport Modal -->
<div id="transport-44" class="modal race-rules transport outside-dashboard do-not-animate">
  <div class="modal-content">
    <%= t ('trail_of_rodrigues.transport.44k_html') %>
  </div>
</div>

<!-- 22k Transport Modal -->
<div id="transport-22" class="modal race-rules transport outside-dashboard do-not-animate">
  <div class="modal-content">
    <%= t ('trail_of_rodrigues.transport.22k_html') %>
  </div>
</div>

<!-- 12k Transport Modal -->
<div id="transport-12" class="modal race-rules transport outside-dashboard do-not-animate">
  <div class="modal-content">
    <%= t ('trail_of_rodrigues.transport.12k_html') %>
  </div>
</div>

<!-- 7k Transport Modal -->
<div id="transport-7" class="modal race-rules transport outside-dashboard do-not-animate">
  <div class="modal-content">
    <%= t ('trail_of_rodrigues.transport.7k_html') %>
  </div>
</div>

<!-- Register Now Modal -->
<div id="register-now" class="modal outside-dashboard do-not-animate">
  <div class="modal-content">
    <%= t ('register.roag.intro_html') %>
    <p>
      <a href='<%= t ('register.roag.become_member_link') %>' target='_blank'>
        <%= t ('register.roag.become_member') %> <i class='material-icons'>arrow_forward</i>
      </a>
    </p>
    <p>
      <a href='<%= t ('register.roag.already_member_link') %>' target='_blank'>
        <%= t ('register.roag.already_member') %> <i class='material-icons'>arrow_forward</i>
      </a>
    </p>
    <h4>
      Contact ROAG
    </h4>
    <p>
      <i class='material-icons'>email</i> <a href='mailto:info@roag.org'>info@roag.org</a><br>
      <i class='material-icons'>phone</i> (+230) 5705 5162 
    </p>

  </div>
</div>

<% if user_signed_in? && current_user.is_admin? %>

<!-- Admin Modal -->
<div id="admin" class="modal outside-dashboard do-not-animate">
  <div class="modal-content">
    <%= form_for data, html: { multipart: true } do |f| %>
      <h4>Participants</h4>
      <div class="form-inputs">
        <div class="file-field input-field">
          <div class="btn">
            <span>44k</span>
            <%= f.file_field :participants_44k %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
            <%= f.check_box :delete_participants_44k %>
            <%= f.label :delete_participants_44k, "Delete?" %>
          </div>
        </div>
        <div class="file-field input-field">
          <div class="btn">
            <span>22k</span>
            <%= f.file_field :participants_22k %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
            <%= f.check_box :delete_participants_22k %>
            <%= f.label :delete_participants_22k, "Delete?" %>
          </div>
        </div>
        <div class="file-field input-field">
          <div class="btn">
            <span>7k</span>
            <%= f.file_field :participants_7k %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
            <%= f.check_box :delete_participants_7k %>
            <%= f.label :delete_participants_7k, "Delete?" %>
          </div>
        </div>
        <%= f.submit "Update", class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>

<% end %>