<%= simple_form_for [@event.trail, @event, @registration] do |f| %>
  <div class="row">
    <%= f.input :profile_id, collection: @trailers, label_method: :full_name, value_method: :id, label:false, wrapper_html: {class: 'col s12 m12 l6'} %>
    <div class="col s12 m12 l6 margin-top-18-px">
      <%= f.collection_radio_buttons :race_category, [['Senior', 'Senior'] ,['Junior', 'Junior']], :first, :last, { checked: 'Senior' } %>
    </div>
  </div>
  <div class="row">
    <%= f.input :amount, wrapper_html: {class: 'col s12 m12 l6'} %>
    <div class="col s12 m12 l6 margin-top-18-px">
      <%= f.collection_radio_buttons :currency, [['MUR', 'MUR'] ,['EUR', 'EUR']], :first, :last, { checked: 'MUR' } %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12 margin-top-18-px">
      <%= f.collection_radio_buttons :payment_method, [['Bank Transfer', 'Bank Transfer'] ,['Cash', 'Cash'], ['Cheque' ,'Cheque']], :first, :last %>
    </div>
  </div>
  <div class="row">
    <%= f.button :submit, "Register" %>
  </div>
<% end %>