<h2>
  <%= "#{@event.trail.name} #{@event.distance}k" %>
</h2>

<% if current_user.is_admin? %>

  <div class='row'>
    <div class='col s12 m8 l8'>
      <%= render 'form' %>
    </div>

    <div class='col s12 m4 l4'>
      <div class="card-panel">
        <h4>
          Manage Database
        </h4>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add</a>
        
        <%= render 'lookup_form' %>
      </div>

      <!-- Modals -->
      <div id="modal1" class="modal profile-form">
        <div class="modal-content">
          <%= render 'profiles/form', edit: false, admin: true %>
        </div>
      </div>
      <div id="modal2" class="modal profile-form">
        <div class="modal-content">
          
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col s12'>
      <h3>
        Participants
      </h3>
      <%= render 'participants' %>
    </div>
  </div>

<% else %>

  <div class='row'>
    <div class='col s12'>
      <%= render 'payment' %>
    </div>
  </div>
  
<% end %>