<h2>
  <%= "#{@event.distance}k" %>
</h2>
<p>
  <strong><%= t('trail.start') %></strong> <%= @event.departure %>
<br />
  <strong><%= t('trail.via') %></strong> <%= @event.course %>
<br />
  <strong><%= t('trail.finish') %></strong> <%= @event.arrival %>
</p>