<span id="form-block">
  <% if user_signed_in? %>
    <% if @registered_event && !current_user.is_admin? %>
      <%= raw "<strong>#{t('register.registered')} #{@registered_event.distance}k</strong>" %>
    <% else %>
      <% @trail.events.each do |event| %>
        <% @event = event %>
        <% if current_user.is_admin? %>
          <p>
            <%= link_to raw("Manage #{event.distance}k"), new_trail_event_event_registration_path(event.trail, event), class: "waves-effect waves-light btn" %>
          </p>
        <% else %>
          <p>
            <a class="waves-effect waves-light btn modal-trigger" href=<%= "#profile-form-modal-#{event.id}" %> >
              <%= "#{t('register.for')} #{event.distance}k" %>
            </a>
          </p>
          <!-- Modals -->
          <div id=<%= "profile-form-modal-#{event.id}" %> class="modal profile-form outside-dashboard do-not-animate">
            <div class="modal-content">
              <% if current_user.has_profile? %>
                <%= render 'profiles/form', edit: true, admin: false %>
              <% else %>
                <%= render 'profiles/form', edit: false, admin: false %>
              <% end %>
              <%= render 'common/preloader' %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p>
      <a class="waves-effect waves-light btn modal-trigger" href="#login-form-modal">
        <%= t('register.login') %>
      </a>
    </p>
    <!-- Modals -->
    <div id="login-form-modal" class="modal login-form outside-dashboard do-not-animate">
      <div class="modal-content">
        <%= render 'devise/sessions/new' %>
      </div>
    </div>
  <% end %>
</span>