<div id="results" class="tile tile-lg tile-narrow tile-green">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        <%= t('results.title') %>
      </h3>
      <p>
        <% if @trail.results_posted? %>
          <%= link_to raw("Open <i class='material-icons'>open_in_new</i>"), @trail.results.url, class: 'waves-effect waves-light btn', target: '_blank' %>
        <% else %>
          <%= t('results.pending') %>
        <% end %>
      </p>
      <% if user_signed_in? && current_user.is_admin? %>
        <h4>Upload Results</h4>

        <%= form_for @trail, html: { multipart: true } do |f| %>
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <%= f.file_field :results %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <%= f.submit "Upload", class: 'btn' %>
        <% end %>

      <% end %>  
    </span>      
  </span>
</div>