<div class="tile tile-short tile-narrow tile-green">
  <span class="content-wrapper">
    <span class="tile-content">
      <h1>
        Rodrigues
        <%= t('trail_league.calendar') %>
        <% if user_signed_in? && current_user.is_admin? %>
          <%= link_to raw("<i class='material-icons'>add</i>"), new_trail_path, class: 'btn-floating btn-large waves-effect waves-light tooltipped',  data: { position: "right", delay: "50", tooltip: "Create New Trail" } %>
        <% end %>
      </h1>
      <h2>
        Contacts
      </h2>
      <ul>
        <li>
          <i class='material-icons'>phone</i><strong> Louis Henrico</strong> 5877 0007
        </li>
        <li>
          <i class='material-icons'>phone</i><strong> Patrice Chan Seem</strong> 5722 3777
        </li>
      </ul>
    </span>      
  </span>
</div>

<div class="tile tile-short tile-narrow tile-green">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg jumping-off-sq"></span>
      <h3 class="next-trail-name">
        <%= t('trail_league.title') %>
      </h3>
      <span class="tile-img"></span>
      
    </span>      
  </span>
</div>

<div class="tile tile-short tile-narrow tile-light-blue ripple-effect">

  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        <%= t('trail_league.next_trail') %>
      </h2>
      <h4>
        <%= l @next_trail.date, format: '%-d %B %Y' if @next_trail.date %>
      </h4>
      <h2>
        <%= link_to @next_trail.name, trail_path(@next_trail) %>
      </h2>
      <h4>
        <% @next_trail.events.each do |event| %>
          <%= "#{event.distance}k" %>
        <% end %>
      </h4>
      <p class="tile-footer">
        <%= link_to raw("<i class='material-icons'>arrow_forward</i>"), trail_path(@next_trail), class: "btn-floating btn-large waves-effect waves-light blue lighten-2" %>
      </p>
    </span>      
  </span>
</div>
<%= render @trails %>