
<div class="row">
  <div class="col-md-6">
    <h2>
      Create New Trail
    </h2>
    <%= simple_form_for @trail do |f| %>
    <%= f.input :name %>
    <%= f.input :date %>
    <%= f.input :location %>
    <%= f.input :organiser %>
    <%= f.input :description %>
    <%= f.input :external_link %>
    <%= f.input :register_online %>
    <%= f.button :submit, "Create Trail and Add Event Distances" %>
  <% end %>
  </div>
</div>
