<a class="tile tile-lg tile-pink ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg load-first runners-through-trees"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title"><%= @trail.name %></span>
      </span>
    </span>      
  </span>
</a>

<div class="tile tile-lg tile-narrow tile-deep-orange">
  <span class="content-wrapper">
    <span class="tile-content">
      <h4 class="trail-date">
        <%= l @trail.date, format: '%-d %B %Y' if @trail.date %>
      </h4>
      <h2>
        <%= @trail.name %>
      </h2>
      <h4>
        <% @trail.events.each do |event| %>
          <%= "#{event.distance}k" %>
        <% end %>
      </h4>
      <p>
        <strong><i class='material-icons'>place</i> <%= @trail.description %></strong>
      </p>
      <p>
        <%= t('trail_league.organiser') %>:
        <%= @trail.organiser %>
      </p>
      <% if in_rodrigues?(@trail.location) %>
        <h4>
          <%= t('trail_league.title') %>
        </h4>
      <% end %>

      <% if user_signed_in? && current_user.is_admin? %>
        <p>
          <%= link_to "Edit Trail", edit_trail_path(@trail), class: 'waves-effect waves-light btn' %>
        </p>
        <p>
          <%= link_to "Add New Distance", new_trail_event_path(@trail), class: 'waves-effect waves-light btn' %>
        </p>
      <% end %>
      
    </span>      
  </span>
</div>

<%= render @trail.is_finished? ? 'results' : 'register' %>

<div class="tile tile-lg tile-light-blue">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg load-first kids-watch-with-umbrella"></span>
      
    </span>      
  </span>
</div>

<%= render 'participants' %>