<a class="tile tile-lg tile-pink ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg load-first runners-through-trees"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title"><%= @trail.name %></span>
      </span>
    </span>      
  </span>
</a>

<div class="tile tile-lg tile-narrow tile-deep-orange">
  <span class="content-wrapper">
    <span class="tile-content">
      <h3 class="next-trail-name">
        <%= @trail.name %>
      </h3>
      <p>
        <%= @trail.date.strftime("%d %B") if @trail.date %>
      </p>
      
    </span>      
  </span>
</div>

<%= render @trail.is_finished? ? 'results' : 'register' %>

<div class="tile tile-lg tile-light-blue">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg load-first kids-watch-with-umbrella"></span>
      
    </span>      
  </span>
</div>

<%= render 'participants' %>