<a class="tile tile-lg tile-pink ripple-effect" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg load-first runners-through-trees"></span>
      <span class="tile-holder tile-holder-sm">
        <span class="title"><%= @trail.name %></span>
      </span>
    </span>      
  </span>
</a>

<div class="tile tile-lg tile-narrow tile-deep-orange">
  <span class="content-wrapper">
    <span class="tile-content">
      <h4 class="trail-date">
        <%= l @trail.date, format: '%-d %B %Y' if @trail.date %>
      </h4>
      <h2>
        <%= @trail.name %>
        <% if user_signed_in? && current_user.is_admin? %>
            <%= link_to raw("<i class='material-icons'>edit</i>"), edit_trail_path(@trail), class: 'btn-floating btn-large waves-effect waves-light tooltipped',  data: { position: "top", delay: "50", tooltip: "Edit #{@trail.name}" } %>
        <% end %>
      </h2>
      <p>
        <%= @trail.description %>
      </p>
      <h4>
        Courses: 
        <% @trail.events.each do |event| %>
          <%= "#{event.distance}k" %>
          <% if user_signed_in? && current_user.is_admin? %>
              <%= link_to raw("<i class='material-icons'>edit</i>"), edit_trail_event_path(@trail, event), class: 'btn-floating btn-large waves-effect waves-light tooltipped',  data: { position: "bottom", delay: "50", tooltip: "Edit #{event.distance}k" } %>
          <% end %>
        <% end %>
        <% if user_signed_in? && current_user.is_admin? %>
            <%= link_to raw("<i class='material-icons'>add</i>"), new_trail_event_path(@trail), class: 'btn-floating btn-large waves-effect waves-light tooltipped',  data: { position: "bottom", delay: "50", tooltip: "Add Course" } %>
        <% end %>  
      </h4>
      
      <p>
        <%= t('trail.organiser') %>:
        <%= @trail.organiser %>
      </p>
      <% if in_rodrigues?(@trail.location) %>
        <h4>
          <%= t('trail_league.title') %>
        </h4>
      <% end %>
      <p>
        <%= t('register.adults') %>: Rs150, <%= t('register.children') %>: Rs100
      </p>
    </span>      
  </span>
</div>

<div class="tile tile-lg tile-narrow tile-light-blue">
  <span class="content-wrapper">
    <span class="tile-content">
      
      <span class="tile-img tile-img-bg load-first jumping-off-sq"></span>
      
    </span>      
  </span>
</div>

<%= render @trail.is_finished? ? 'results' : 'register' %>

<%= render 'participants' %>