<div class="dashboard display-animation">
  <a class="tile tile-lg tile-pink ripple-effect" href="#">
    <span class="content-wrapper">
      <span class="tile-content">
        
        <span class="tile-img tile-img-bg runners-through-trees"></span>
        <span class="tile-holder tile-holder-sm">
          <span class="title"><%= @trail.name %></span>
        </span>
      </span>      
    </span>
  </a>
  
  <div class="tile tile-lg tile-narrow tile-deep-orange">
    <span class="content-wrapper">
      <span class="tile-content">
        <h3 class="next-trail-name">
          <%= @trail.name %>
        </h3>
        <p>
          <%= @trail.date.strftime("%d %B") if @trail.date %>
        </p>
        
      </span>      
    </span>
  </div>

  

  

  <div class="tile tile-lg tile-narrow tile-green ripple-effect" href="#">
    <span class="content-wrapper">
      <span class="tile-content">
        <h3 class="next-trail-name">
          Registration
        </h3>
        <p>
          Adults: Rs 150
        </p>
        <p>
          Chidren: Rs 100
        </p>
      </span>      
    </span>
  </div>
  
  <div class="tile tile-lg tile-light-blue">
    <span class="content-wrapper">
      <span class="tile-content">
        
        <span class="tile-img tile-img-bg kids-watch-with-umbrella"></span>
        
      </span>      
    </span>
  </div>
  
  <div class="tile tile-lg tile-full-width tile-flexible-height tile-light-blue ripple-effect" href="#">
    <span class="content-wrapper">
      <span class="tile-content">
        <h3 class="next-trail-name">
          Participants
        </h3>
        <%= I18n.locale %>

        <%= t :hello %>

        <p>
        <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
        |
        <%= link_to_unless I18n.locale == :fr, "Francais", locale: :fr %>
        </p>
        <p>
          <%= link_to "Change lang", home_land_path %>
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates voluptatibus cumque unde, optio culpa sunt possimus a! Maiores repellendus dignissimos, quos unde quasi, adipisci non rerum magnam optio obcaecati delectus.
        </p>
      </span>      
    </span>
  </div>

  <div class="tile tile-short tile-half-width tile-narrow tile-amber" href="#">
    <span class="content-wrapper">
      <span class="tile-content">
        
        <span class="tile-img tile-img-bg girls-in-red"></span>
        
      </span>      
    </span>
  </div>

  <div class="tile tile-short tile-half-width tile-narrow tile-deep-orange" href="#">
    <span class="content-wrapper">
      <span class="tile-content">
        <h2>
          Testimonials
        </h2>
        <h3>
          "It was the best trail we have ever done, I can't wait to come back next year!"
        </h3>
        <p>
          Tim Cartwright,
        <br />
          Trail de Rodrigues 2014
        </p>
        
      </span>      
    </span>
  </div>

  <div class="tile tile-short tile-narrow tile-deep-orange" href="#">
    <span class="content-wrapper">
      <span class="tile-content">
        
        <span class="tile-img tile-img-bg yan"></span>
        
      </span>      
    </span>
  </div>
</div>