<div class="tile tile-short tile-half-width tile-narrow tile-green" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        Contact
      </h2>
      <p>
        <strong><%= t('trail_of_rodrigues.title') %></strong><br/>
        c/o Monsieur Aurèle André<br/>
        Réserve Francois Leguat<br/>
        Anse Quitor Ile Rodrigues<br/>
      </p>   
      <p>
        <i class='material-icons'>phone</i> +230 8328 141<br/>
        <i class='material-icons'>email</i> <%= mail_to "arpege@intnet.mu" %><br/>
        <i class='material-icons'>email</i> <%= mail_to "trailrodrigues@gmail.com" %>
      </p>
      
      
    </span>      
  </span>
</div>

<div class="tile tile-short tile-narrow tile-deep-orange" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg pig"></span>
    </span>      
  </span>
</div>

<div class="tile tile-short tile-half-width tile-narrow tile-light-blue" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <h2>
        <%= t('links.title') %>
      </h2>
      <p>
        Trail du Colorado<br />
        UTOP
      </p>   
      <p>
        Visitez l'île Maurice www.mauboussol.com
      </p>
      <p>
        &copy; <%= t('trail_of_rodrigues.title') %>
      </p>
      <p>Website by Tim</p>
      
    </span>      
  </span>
</div>

<div class="tile tile-short tile-narrow tile-deep-orange md-layout-filler" href="#">
  <span class="content-wrapper">
    <span class="tile-content">
      <span class="tile-img tile-img-bg runners-on-rope"></span>
    </span>      
  </span>
</div>