<header>
  <nav>
    <ul>
      <li><%= link_to_unless_current "Home", root_path %></li>
      <li><%= link_to_unless_current "Trail of Rodrigues", page_path('trail-rodrigues') %></li>
      <li><%= link_to_unless_current "Trail Calendar", trails_path %></li>
      <li>
        <%=
        if user_signed_in?
          link_to "Sign Out", destroy_user_session_path, method: :delete
        else
          link_to "Sign In", new_user_session_path
        end
          %>
      </li>
    </ul>
  </nav>
  <div class="openNav z-depth-3">
    <div class="icon"></div>
  </div>
  <div class="change-language z-depth-3">
    <%= link_to @other_language, locale: @other_language %>
  </div>
</header>