<div class="tile tile-short tile-half-width tile-narrow tile-teal">
  <span class="content-wrapper">
    <span class="tile-content center">
      <h3 class="h1">44k</h3>
      <h2>Marathon de l'Eden</h2>
      <h3 class="h1">2100m<i class='material-icons'>arrow_upward</i> 2050m<i class='material-icons'>arrow_downward</i></h3>
      <p><i class='material-icons'>access_time</i> 05h00 <i class='material-icons'>place</i> Cotton Bay</p>
      <p>
        <!-- Modal Trigger -->
        <%= link_to raw("<i class='material-icons'>trending_up</i>"), "#course-44", class: "btn-floating btn-large waves-effect waves-light orange modal-trigger tooltipped", data: { position: "bottom", delay: "50", tooltip: "Course" } %>
        <!-- Modal Trigger -->
        <%= link_to raw("<i class='material-icons'>directions_bus</i>"), "#transport-44", class: "btn-floating btn-large waves-effect waves-light blue modal-trigger tooltipped", data: { position: "bottom", delay: "50", tooltip: "Transport" } %>
        <%= link_to raw("<i class='material-icons'>directions_run</i>"), @data.participants_44k.url, class: "btn-floating btn-large waves-effect waves-light tooltipped", target: "_blank", data: { position: "bottom", delay: "50", tooltip: "Participants" } if data.participants_44k.present? %>
      </p>
    </span>      
  </span>
</div>

<div class="tile tile-short tile-narrow tile-green" href="#">
  <span class="content-wrapper">
    <span class="tile-content center">
      <h3 class="h1">22k</h3>
      <h2>Trail du Solitaire</h2>
      <h3 class="h1">1100m<i class='material-icons'>arrow_upward</i> 1065m<i class='material-icons'>arrow_downward</i></h3>
      <p><i class='material-icons'>access_time</i> 07h00 <i class='material-icons'>place</i> Pointe L’herbe</p>
      <p>
      <p>
        <!-- Modal Trigger -->
        <%= link_to raw("<i class='material-icons'>directions_run</i>"), "#course-22", class: "btn-floating btn-large waves-effect waves-light orange modal-trigger tooltipped", data: { position: "bottom", delay: "50", tooltip: "Course" } %>
        <!-- Modal Trigger -->
        <%= link_to raw("<i class='material-icons'>directions_bus</i>"), "#transport-22", class: "btn-floating btn-large waves-effect waves-light blue modal-trigger tooltipped", data: { position: "bottom", delay: "50", tooltip: "Transport" } %>
        <%= link_to raw("<i class='material-icons'>directions_run</i>"), @data.participants_22k.url, class: "btn-floating btn-large waves-effect waves-light tooltipped", target: "_blank", data: { position: "bottom", delay: "50", tooltip: "Participants" } if data.participants_22k.present? %>
      </p>
    </span>     
  </span>
</div>

<div class="tile tile-short tile-half-width tile-narrow tile-cyan" href="#">
  <span class="content-wrapper">
    <span class="tile-content center">
      <h3 class="h1">7k</h3>
      <h2>Trail Tortue</h2>
      <h3 class="h1">100m<i class='material-icons'>arrow_upward</i> 263m<i class='material-icons'>arrow_downward</i></h3>
      <p><i class='material-icons'>access_time</i> 08h00 <i class='material-icons'>place</i> Maréchal (Terrain de Foot)</p>
      <p>
        <!-- Modal Trigger -->
        <%= link_to raw("<i class='material-icons'>directions_run</i>"), "#course-7", class: "btn-floating btn-large waves-effect waves-light orange modal-trigger tooltipped", data: { position: "bottom", delay: "50", tooltip: "Course" } %>
        <!-- Modal Trigger -->
        <%= link_to raw("<i class='material-icons'>directions_bus</i>"), "#transport-7", class: "btn-floating btn-large waves-effect waves-light blue modal-trigger tooltipped", data: { position: "bottom", delay: "50", tooltip: "Transport" } %>
        <%= link_to raw("<i class='material-icons'>directions_run</i>"), @data.participants_7k.url, class: "btn-floating btn-large waves-effect waves-light tooltipped", target: "_blank", data: { position: "bottom", delay: "50", tooltip: "Participants" } if data.participants_7k.present? %>
      </p>
    </span>       
  </span>
</div>